* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    gap: 3px;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-areas:
        "header header header header"
        "sidebar content content content"
        "footer footer footer footer";
    grid-template-rows: 80px 99vh 80px;
    margin: 5px;
}

.header,
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    grid-area: header;
    background-color: maroon;
    color: white;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10%;
    grid-area: sidebar;
    background-color: #2a0948fe;
    color: white;
    padding: 55px 20px;
    font-size: 20px;
}

.sidebar .wrapper {
    display: flex;
    padding: 10px;
    gap: 15px;
    transition: all 0.15s ease-in-out;
}

.wrapper:hover{
    background-color: white;
    color: black;
    transform: scale(1.07);
    cursor: pointer;
}

.content {
    grid-area: content;
    background-color: antiquewhite;
}

.content .searchbar{
    background-color: whitesmoke;
    padding: 15px;
    margin: 3px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.searchbar input{
    width: 85%;
    padding: 8px;
    background-color: whitesmoke;
    border: none;
}

.searchbar i{
    transition: all 0.2s ease-in-out;
}

.searchbar i:hover{
    transform: scale(1.34);
    cursor: pointer;
}

.content .details{
    color: white;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.details .item {
    padding: 10px;
    flex-basis: 30%;
    flex-grow: 1;
    min-width: 225px;
    border-radius: 4px;
    justify-content: space-around;
    position: relative;
}

.content .details .item .info{
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
}

.content .details .item .info i{
    margin-right: 8px;
    font-size: 22px;
}

.content .details .item h1{
    padding: 5px;
    text-align: end;
    margin: 5px;
}
.content .details #ticket-section{
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.notification{
    max-width: 410px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.notification .top{
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
}

.content .notification .notif-content{
    background-color: #d6c8c8;
    padding: 20px;
}

.content .notif-content .message {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.content .notif-content .message .message-content {
    display: flex;
    align-items: center;
}

.message-content i{
    margin-right: 8px;
}

.footer {
    grid-area: footer;
    background-color: maroon;
    color: white;
}
